body {
  /* Billedet */
  background-image: url(../img/baggrund-pasta.webp);

  /* Fuld højde */
  height: 100%;

  /* Parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

p {
  color: #0b2361;
}

h1 {
  align-content: center;
  text-align: center;
  color: #0b2361;
}

h2 {
  color: #0b2361;
}

h3 {
  color: #0b2361;
}

@media (min-width: 500px) {
  .overskrift {
    width: 100%;
    background-image: url(../img/ravioli-background.png);
    background-size: cover;
    padding-block: 190px;
  }

  .overskrift > h1 {
    padding-top: 80px;
    color: white;
  }

  form {
    margin-inline: 140px;
  }

  .oplysninger {
    margin-inline: 140px;
  }
}

main {
  max-width: 1500px;
}

.grid_1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 500px) {
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-row: 1fr 1fr;
  }

  form {
    text-align: center;
  }

  a {
    font-family: bio-sans, sans-serif;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: #0b2361;
    text-decoration: none;
  }

  a:link {
    color: #0b2361;
    text-decoration: none;
  }

  a:visited {
    color: #0b2361;
    text-decoration: none;
  }
}

form {
  padding: 2rem;
  background-color: #0b2361;
  border-radius: 8px;
}

.form-felt label {
  display: block;
}

.form-felt {
  margin-block: 20px;
  color: white;
  text-transform: uppercase;
}

form input {
  border: none;
  border-radius: 2px;
  padding: 8px;
}
form textarea {
  border: none;
  border-radius: 2px;
  padding: 8px;
}

form button {
  border-radius: 2px;
  border: none;
  height: 30px;
  width: 100px;
  background-color: #feb05f;
  color: white;
}

.required label:after {
  content: "*";
  color: red;
}

.oplysninger {
  margin-top: 50px;
}

.background-maps {
  background-color: lightgrey;
  margin-top: 40px;
  padding: 20px;
}

.maps {
  margin-block: 10px;
  padding-inline: 40px;
}

footer p {
  color: white;
}

.footer a {
  color: white;
}
