body {
  /* Billedet */
  background-image: url(../img/baggrund-pasta.webp);

  /* Fuld højde */
  height: 100%;

  /* Parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

img {
  border-radius: 0px;
}

p {
  color: #0b2361;
}

h1 {
  align-content: center;
  text-align: center;
  color: #0b2361;
  font-size: 3rem;
}

h2 {
  color: #0b2361;
}

h3 {
  color: #0b2361;
}

.overskrift {
  width: 100%;
  background-color: var(--header-color);
  padding-block: 20px;
}

@media (min-width: 500px) {
  h1 {
    align-content: center;
    text-align: center;
    color: #0b2361;
    font-size: 3rem;
  }

  .overskrift > h1 {
    padding-top: 80px;
    color: #0b2361;
  }

  form {
    margin-inline: 140px;
  }

  .oplysninger {
    margin-inline: 140px;
    margin-top: -80px;
  }

  .h2-style > h2 {
    color: white;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 20px;
  }

  .h2-style {
    border-bottom: 2px solid #0b2361;
    margin-inline: 500px;
  }

  .background-maps {
    background-color: lightgrey;
  }

  .maps {
    gap: 20px;
  }

  .butik_billede {
    padding-left: 100px;
  }

  .maps_billede > img {
    height: 345px;
  }

  .top-wave {
    width: 100%;
    background-image: url(../img/grey-wave-top.webp);
    background-size: cover;
    padding-bottom: 250px;
  }

  .bottom-wave {
    width: 100%;
    background-image: url(../img/grey-wave-bottom.webp);
    background-size: cover;
    padding-bottom: 320px;
  }
}

.grid_1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 100px;
}

@media (max-width: 500px) {
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-row: 1fr 1fr;
  }

  a {
    font-family: bio-sans, sans-serif;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
    font-size: 1rem;
    color: #0b2361;
    text-decoration: none;
  }

  a:link {
    color: #0b2361;
    text-decoration: none;
  }

  a:visited {
    color: #0b2361;
    text-decoration: none;
  }

  form {
    margin-inline: 10px;
    padding: 0rem;
  }

  .oplysninger {
    margin-inline: 10px;
  }

  .oplysninger > h2 {
    text-align: center;
  }

  .background-maps {
    display: grid;
    grid-template-columns: 1fr;
  }

  .h2-style > h2 {
    color: #0b2361;
    font-size: 2.5rem;
    margin-bottom: 20px;
  }

  .h2-style {
    text-align: center;
    margin-top: 20px;
    margin-bottom: -100px;
  }

  .maps {
    margin-inline: 10px;
  }

  header {
    width: 100%;
    background-color: var(--header-color);
  }
}

form {
  padding: 2rem;
  background-color: #0b2361;
  border-radius: 8px;
}

.form-felt label {
  display: block;
}

.form-felt {
  margin-block: 20px;
  color: white;
  text-transform: uppercase;
}

form input {
  border: none;
  border-radius: 2px;
  padding: 8px;
}

form textarea {
  border: none;
  border-radius: 2px;
  padding: 8px;
}

form button {
  border-radius: 2px;
  border: 2px solid #feb05f;
  height: 30px;
  width: 100px;
  background-color: transparent;
  color: white;
}

.required label:after {
  content: "*";
  color: red;
}

footer p {
  color: white;
}

.footer a {
  color: white;
}
