* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: bio-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  font: 1rem;
  line-height: 2;
  color: white;
  /* background-image: url("");
  background-size: cover; */
  background-color: #0b2361;
}

main {
  max-width: 1500px;
  margin-inline: auto;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  display: block;
}

h1 {
  font-family: monarcha, serif;
  font-weight: 600;
  font-style: normal;
  font-size: 2rem;
  text-transform: uppercase;
}

h2 {
  font-family: bio-sans, sans-serif;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
  font-size: 1.6rem;
}

h3 {
  font-family: bio-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  font-size: 1.4rem;
}

h4 {
  font-family: bio-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  font-size: 1.2rem;
}

a {
  font-family: bio-sans, sans-serif;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
  /* text-decoration: underline;
  text-decoration-color: yellow; */
}

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #ffff9b;
  text-decoration: underline;
  text-decoration-color: #ffff9b;
}

a:active {
  color: white;
  text-decoration: underline;
  text-decoration-color: white;
}

@media (min-width: 700px) {
  /* header {
    position: sticky;
    box-shadow: 0 12px 28px 0 rgb(0 0 0 / 30%);
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    text-align: center;
  }

  header nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-bottom: 0.4rem;
    gap: 30px;
    overflow-x: auto;
  } */

  .inner_main_menu {
    margin: 0 auto;
    width: 1000px;
  }

  .inner_main_menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: right;
  }

  .inner_main_menu ul li {
    float: none;
    display: inline-block;
  }

  .inner_main_menu ul li:nth-child(1) {
    float: left;
  }
  .inner_main_menu ul li:nth-child(2) {
    float: left;
  }

  .inner_main_menu ul li a {
    display: block;
    padding: 10px 20px;
  }

  #main_menu {
    width: 100%;
    position: relative;
  }

  .logo_area {
    width: 150px;
    height: 150px;
    position: absolute;
    left: 45%;
    top: 10%;
    content: "";
    margin-right: 400px;
  }
}
