* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: bio-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  font: 1rem;
  line-height: 2;
  color: white;
  background-image: url("../img/baggrund-pasta.webp");
  background-size: cover;
  background-color: #0b2361;
}

main {
  /* max-width: 1500px; */
  margin-inline: auto;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  display: block;
}

h1 {
  font-family: monarcha, serif;
  font-weight: 600;
  font-style: normal;
  font-size: 2.5rem;
  text-transform: uppercase;
}

h2 {
  font-family: bio-sans, sans-serif;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
  font-size: 2rem;
}

h3 {
  font-family: bio-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  font-size: 1.4rem;
}

h4 {
  font-family: bio-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  font-size: 1.2rem;
}

a {
  font-family: bio-sans, sans-serif;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
}

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #ffff9b;
  text-decoration: underline;
  text-decoration-color: #ffff9b;
}

a:active {
  color: white;
  text-decoration: underline;
  text-decoration-color: white;
}

.logo {
  width: 100px;
  height: 100px;
}
/*Styling af knap*/

button.button {
  background-color: #ffff9b;
  color: #0b2361;
  font-size: 1rem;
  border-radius: 20px;
  padding: 15px;
  margin-block: 15px;
  display: inline-block;
}

button.button a {
  color: #0b2361;
  font-size: 1rem;
}

button.button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

/*Styling af header*/

@media (min-width: 600px) {
  .header {
    position: fixed;
    width: 100%;
    top: 0;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    transition: all 0.5s;
  }

  .header-scrolled {
    background-color: #0b2361;
    box-shadow: 0 12px 28px 0 rgb(0 0 0 /30%);
  }

  header .logo a {
    font-size: 2rem;
  }

  header nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-bottom: 0.4rem;
    gap: 30px;
    overflow-x: auto;
  }

  .logo {
    width: 100px;
    height: 100px;
  }
}

/*Styling af burger menu*/

.banner {
  /* background-color: transparent; */
  padding: 2rem;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.main-menu ul {
  list-style: none;
  padding: 0;
  text-transform: uppercase;
}

.toggle-btn {
  background: transparent;
  color: #0b2361;
  text-transform: uppercase;
  border: none;
  min-width: 44px;
  min-height: 44px;
  font-size: 1.1rem;
  cursor: pointer;

  display: none;
}

@media (max-width: 600px) {
  .toggle-btn {
    display: block;
  }

  .main-menu {
    display: contents;
  }

  .main-menu ul {
    display: none;
  }

  .main-menu.shown ul {
    border-top: 2px solid #0b2361;
    padding-top: 1rem;
    display: flex;
    flex: 1 1 100%;
    flex-flow: column;
    margin-top: 20px;
  }
}

/*Footer styling*/

/* .logo-footer {
  width: 100px;
  height: 100px;
} */

footer {
  width: 100%;
  padding: 100px 10% 50px 10%;
  background-image: url("../img/footer.png");
  background-size: cover;
}

.footer {
  padding-bottom: 10px;
  display: flex;
}

.grid-footer {
  display: grid;
}

.grid-footer > * {
  grid-column: 1;
  grid-row: 1;
}

.footer-tekst {
  display: flex;
  position: relative;
  place-self: center;
}

.footer-tekst p {
  font-size: 0.7rem;
  margin-top: 30px;
  margin-inline: 10px;
  text-align: center;
}

@media (min-width: 900px) {
  .footer a {
    display: block;
    font-family: bio-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: capitalize;
    font-size: 1.5rem;
    margin-left: 15px;
    color: white;
  }

  .col-1 {
    margin-top: 400px;
    margin-left: 20px;
    text-align: center;
  }

  .col-2 {
    margin-top: 400px;
    text-align: center;
    flex-grow: 2;
  }

  .col-3 {
    margin-top: 400px;
    text-align: center;
  }

  .grid_1-1-footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .tekst-boks1 {
    border-right: 2px solid #ffff9b;
  }

  .footer div h5 {
    font-family: bio-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    font-size: 2rem;
    color: #ffff9b;
    letter-spacing: 1px;
  }

  .footer div p {
    font-family: bio-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
  }

  .footer div li {
    font-family: bio-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    list-style: none;
    color: #ffff9b;
  }

  .footer div ul li {
    font-family: bio-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
    list-style: none;
    color: white;
  }

  .social-links {
    margin-top: 10px;
    margin-left: 145px;
    display: flex;
  }

  .social-links a {
    font-size: 2rem;
    margin: 10px;
    cursor: pointer;
  }
}

@media (min-width: 500px) and (max-width: 900px) {
  footer {
    width: 100%;
    background-size: cover;
  }
}

@media (max-width: 900px) {
  footer p {
    color: white;
  }

  .footer {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }

  .footer a {
    display: block;
    font-family: bio-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: capitalize;
    font-size: 1rem;
    margin-left: -155px;
  }

  .col-1 {
    text-align: center;
    grid-column: 1;
    grid-row: 2;
  }

  .col-2 {
    text-align: center;
    grid-column: 1;
    grid-row: 3;
  }

  .col-3 {
    text-align: center;
    grid-column: 1;
    grid-row: 4;
  }

  .grid_1-1-footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .tekst-boks1 {
    border-right: 2px solid #ffff9b;
  }

  .footer div h5 {
    font-family: bio-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: #ffff9b;
    letter-spacing: 1px;
  }

  .footer div p {
    font-family: bio-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
  }

  .footer div li {
    font-family: bio-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    list-style: none;
    color: #ffff9b;
    margin-right: -155px;
  }

  .footer div ul li {
    font-family: bio-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.8rem;
    list-style: none;
    color: white;
    margin-right: -155px;
  }

  .social-links {
    margin-left: 295px;
    display: flex;
  }

  .social-links a {
    font-size: 2rem;
    margin: 10px;
    cursor: pointer;
  }
}

@media (max-width: 500px) {
  footer {
    width: 100%;
    margin-bottom: 0px;
    background-image: url("../img/footer.png");
    background-size: cover;
  }
  .social-links {
    margin-left: 125px;
    display: flex;
  }

  .footer a {
    display: block;
    font-family: bio-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: capitalize;
    font-size: 1rem;
    margin-left: 10px;
  }

  .footer div li {
    font-family: bio-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    list-style: none;
    color: #ffff9b;
    margin-right: 10px;
  }

  .footer div ul li {
    font-family: bio-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.8rem;
    list-style: none;
    color: white;
    margin-right: 10px;
  }
}
